.body{
    margin: 0;
}

.container{
    margin-left: 20%;
    margin-right: 20%;
}

.slika1 img{
    width: 80%;
    height: auto;
}

.header2{
    border-top-style: solid;
    border-top-color: gray;
    border-bottom-style: solid;
    border-bottom-color: purple;
    border-top-width: 1px;
    border-bottom-width: 1px;
}

.header1data{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header2data{
    display: flex;
    justify-content: space-between;
}

.header2data ul{
    list-style-type: none;
    display: flex;
    padding-left: 0;
}

.header2data ul li{
    padding-right: 20px;
}



.footer{
    background-color: rgb(0, 3, 105);
    height: 400px;
}

.footer-up{
    align-items: center;
    justify-content: center;
    justify-items: center;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 1px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.footer-up-innerdiv{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.uls{
    display: flex;
    justify-content: space-between;
}

.ul-1{
    list-style-type: none;
    display: flex;
    padding-left: 0px;
}

.ul-1 li{
    padding-right: 10px;
}

.ul-2{
    list-style-type: none;
    display: flex;
    padding-right: 0px;
}

.ul-2 li{
    padding-left: 10px;
}

.copyright{
    text-align: center;
}

.copyright p{
    color: white;
    font-size: 24px;
}

.natpis{
    padding-top: 20px;
    padding-bottom: 20px;
}

.ul-3{
    justify-content: flex-end;
    list-style-type: none;
    display: flex;
    padding-right: 0;
}

.ul-3 li{
    padding-left: 20px;
}


.artikli{
    flex-wrap: wrap;
    list-style-type: none;
    display: flex;
    gap: 50px;
}

.artikli li{
    max-width: 30%;
}

.artikal{
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    outline: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.artikal img{
    display: block;
    width: 50%;
    height: auto;
}

.dugme{
    color: white;
    background-color: rgb(148, 54, 142);
    border-radius: 5px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}